body {
    background-color: #f2f3f4;
}

.main {
    background-color: #f2f3f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 140px;
    text-align: center;
    margin: 30px 0;
}

.add:nth-child(1) {
    margin-top: 60px;
}

.add:last-child {
    margin-bottom: 60px;
}

.add a {
    font-weight: 700;
    font-size: 1.3rem;
    text-decoration: none;
}

.meat {
    background-image: url("../img/partners/meat.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.meat a {
    color: white;
}

.meat a:hover {
    color: red;
}

.salo {
    background-image: url("../img/partners/salo.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.salo a {
    color: rgb(255, 115, 0);
}

.salo a:hover {
    color: rgb(238, 49, 197);
}

.pizza {
    background-image: url("../img/partners/pizza.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.pizza a {
    color: blueviolet;
}

.pizza a:hover {
    color: greenyellow;
}

.games {
    background-image: url("../img/partners/games.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.games a {
    color: blue;
}

.games a:hover {
    color: rgb(255, 0, 255);
}

@media (max-width: 991px) {
    .add {
        width: 80%;
    }
}